/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/10/2019, 15:32:31
    Author     : Marcel
*/
.sidebar{
    background-color: #0021a5;
    
}
.sidebar-inner{
    background-color: #FFA600;
    padding: 10px;
}
.sidebar-logo{
    background-color: #FFFFFF;
}

.sidebar-link a:hover{
    
    
}